.Main{
  width: 911px;
  height: 685px;
  position:relative;
}
.background{
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-size: contain;
}
/*.Main > .playerDiv > .Player > .row > .cardDiv > .Tooltip{
  left: -104.6px;
  bottom: -84.1px;
}*/
