.Frame{
  position:absolute;
  width:106px;
  border-width: 1px;
  border-style:solid;
  margin: 2px;
  padding: 4px;
  background-color: #EAEAEA;
}
.Frame.activatedfalse{
  opacity: 0.08;
}
.Frame.activatedfalse > *{
  cursor: default;
}
.Frame.win{ border-color: #0B871F;}
.Frame.finish{ border-color: #EE9906;}
.Frame.lose{ border-color: #D51505;}
.finishCombination.win{border-color: #0B871F;}
.finishCombination.finish{ border-color: #EE9906;}
.finishCombination.lose{ border-color: #D51505;}

.playerFinalityButton{
  width: 32px;
  height: 32px;
  top: 0px;
  right: 0px;
  position: absolute;
  margin: 4px;
  border-width: 1.2px;
  border-color: grey;
  background-size: 29.6px;
}
.playerFinalityButton.win{background-image:url("../pictures/crown.png");}
.playerFinalityButton.finish{background-image:url("../pictures/flag.png");}
.playerFinalityButton.lose{background-image:url("../pictures/skull.png");}

.openOutsButton{
  height: 21px;
  width: 15px;
  position: absolute;
  background-size: 15px;
  border-width: 0.5px;
}
.combinationLabel{
  font-size:13px;
  position: absolute;
  top:47px;
}
.finishCombination{
  position: absolute;
  top: 72px;
  width: 96px;
  height: 20px;
  font-size: 12px;
}
.statNumber{
  position: absolute;
  bottom: 0px;
  font-size: 30px;
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
  width: 80px;
}
button,select,option{
  cursor: pointer;
}
.namePlayer{
  font-weight: bold;
}
